<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.knime.knip.imagej2.base.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.knime.knip.base.prefs.MainPreferencePage"
            class="org.knime.knip.imagej2.base.preferences.ImageJPreferencePage"
            id="org.knime.knip.imagej.base.ImageJConverterPreferencePage"
            name="ImageJ2 Plugin Installation (experimental)">
      </page>
   </extension>
</plugin>
